/* Mobile Layout: 320px. */
@media only screen and (max-width: 1200px) {
    
}

@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 560px) {
    .offset-2 {
        margin-left: 0px;
    }
    .offset-3 {
        margin-left: 7%;
    }
    .offset-1 {
        margin-left: 0px;
    }
    .sectoin-padding {
        padding-top: 80px;
    }
    .menu-buttom {
        padding: 10px 35px;
        margin-right: 20px;
}
.mainmenu-area .nav-row {
    padding-left: 20px;
}
.header-title .main-title {
    font-size: 52px;
    line-height: 62px;
    font-weight: 600;
    padding: 50px 50px 0px 50px;
    margin-bottom: 0px;
}
a.buttom {
    margin-left: 150px;
    margin-bottom: 20px;;
}
.features-full {
    padding: 0px 60px;
}
.sub-desc {
    padding: 0px 35px;
}
.work-items {
    
    padding: 40px 0px 40px 0px;
}
.gallerey-bttn {
    margin-left: -150px;
}
.sponsor-slider {
    padding: 20px;
}
.testimonial-box {
    margin: 20px;
}
.section-title {
    margin-left: 20px;
}
#contact-form {
    margin: 20px;
}
.footer-right {
    margin-left: 20px;
}
}


